 :root {
 	font-family: "Poppins", Arial, sans-serif;
 	background: #fff;
 	--gradient: linear-gradient(to left top, #03318c 10%, #29ace0 90%) !important;
 }

 body {
 	margin-top: 20px;
 }

 .spinner {
 	background-color: #007bff;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 9999;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	/* transition: opacity 0.2s; */
 }

 .spinner-border {
 	height: 60px;
 	width: 60px;
 }


 .overlayytext {
 	position: absolute;
 	top: 40%;
 	left: 50%;
 	font-size: 50px;
 	color: rgb(6, 6, 6);
 	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 }

 .main-body {
 	padding: 15px;
 }

 .cardprofile {
 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
 }

 .cardprofile {
 	position: relative;
 	display: flex;
 	flex-direction: column;
 	min-width: 0;
 	word-wrap: break-word;
 	background-color: #fff;
 	background-clip: border-box;
 	border: 0 solid rgba(0, 0, 0, .125);
 	border-radius: .25rem;
 }

 .card-body {
 	flex: 1 1 auto;
 	min-height: 1px;
 	padding: 1rem;
 }

 .gutters-sm {
 	margin-right: -8px;
 	margin-left: -8px;
 }

 .gutters-sm>.col,
 .gutters-sm>[class*=col-] {
 	padding-right: 8px;
 	padding-left: 8px;
 }

 .mb-3,
 .my-3 {
 	margin-bottom: 1rem !important;
 }

 .bg-gray-300 {
 	background-color: #e2e8f0;
 }

 .h-100 {
 	height: 100% !important;
 }

 .shadow-none {
 	box-shadow: none !important;
 }


 .cardprojects {
 	background: #222;
 	border: 1px solid #24b5dd;
 	color: rgba(250, 250, 250, 0.8);
 	margin-bottom: 2rem;
 }

 .btnprojects {
 	border: 5px solid;
 	border-image-slice: 1;
 	background: var(--gradient) !important;
 	-webkit-background-clip: text !important;
 	-webkit-text-fill-color: transparent !important;
 	border-image-source: var(--gradient) !important;
 	text-decoration: none;
 	transition: all .4s ease;
 }

 .btnprojects:hover,
 .btnprojects:focus {
 	background: var(--gradient) !important;
 	/* -webkit-background-clip: none !important; */
 	-webkit-text-fill-color: #fff !important;
 	border: 5px solid #fff !important;
 	box-shadow: #222 1px 0 10px;
 	text-decoration: underline;
 }