{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEO SERVICES</title>
    <link rel="icon" href="{%static '/images/images/Leo_Services_Logo.png'%}" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

</head>


<body>
    <style>
        :root {
            font-family: "Poppins", Arial, sans-serif;
            background: #fff;
            --gradient: linear-gradient(to left top, #03318c 10%, #29ace0 90%) !important;
        }

        body {
            margin-top: 20px;
        }

        .spinner {
            background-color: #007bff;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
            /* transition: opacity 0.2s; */
        }

        .spinner-border {
            height: 60px;
            width: 60px;
        }


        .overlayytext {
            position: absolute;
            top: 40%;
            left: 50%;
            font-size: 50px;
            color: rgb(6, 6, 6);
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .main-body {
            padding: 15px;
        }

        .cardprofile {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .cardprofile {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm>.col,
        .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

        .mb-3,
        .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }


        .cardprojects {
            background: #222;
            border: 1px solid #24b5dd;
            color: rgba(250, 250, 250, 0.8);
            margin-bottom: 2rem;
        }

        .btnprojects {
            border: 5px solid;
            border-image-slice: 1;
            background: var(--gradient) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            transition: all .4s ease;
        }

        .btnprojects:hover,
        .btnprojects:focus {
            background: var(--gradient) !important;
            /* -webkit-background-clip: none !important; */
            -webkit-text-fill-color: #fff !important;
            border: 5px solid #fff !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: underline;
        }
    </style>
    <div>
        <!-- Loader -->
        <div id="spinner" class="spinner">
            <!-- <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden"></span>
            </div> -->
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden"><img style="width:60px;"
                        src="{%static '/images/images/Leo_Services_Logo.png'%}" /></span>
            </div>
            <!-- <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden"></span>
            </div> -->
        </div>
        <!-- Loader -->

        <!-- Navbar -->
        <div id="home">
            <nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#home"><img style="width:60px;"
                        src="{%static '/images/images/Leo_Services_Logo.png'%}" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#profile">Profile</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#technologies">Technologies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Navbar -->

        <!-- Hero -->
        <div class=" text-center bg-image" style=" padding: 0;
            background-image: url('{{profile.herofile.url}}');
          background-size:cover;
            height: 100vh; 
          ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.5); height:100%;width: 100%;">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h3 class="mb-2">Hello, I'm Lesley Oluoma (LEO),
                        </h3>
                        <h3 class="mb-2">a backend developer and</h3>
                        <h3 class="mb-2">Excel data analyst</h3>
                        <a data-mdb-ripple-init class="btn btn-outline-light btn-lg"
                            href="https://wa.me/+231881428858?text=Hi%20LEO,%20from%20your%20Web-Profile"
                            role="button">Lets Talk Business</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EndHero -->

    <!-- ABOUT ME -->
    <div class="text-center">
        <h3 class="display-6 font-weight-bolder">ABOUT ME</h3>
    </div>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3" id="profile">
                    <div class="cardprofile">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{profile.file.url}}" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{profile.name}}</h4>
                                    <p class="text-secondary mb-1">{{profile.role}}</p>
                                    <p class="text-muted font-size-sm">{{profile.location}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github mr-2 icon-inline">
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg>Github</h6>
                                <span class="text-secondary"><a href="{{profile.github}}">Github</a></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-twitter mr-2 icon-inline text-info">
                                        <path
                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                        </path>
                                    </svg>X</h6>
                                <span class="text-secondary"><a href="{{profile.twitter}}">X</a></span>
                            </li>
                            <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-instagram mr-2 icon-inline text-danger">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>Instagram</h6>
                                <span class="text-secondary"><a href="{{profile.instagram}}">Instagram</a></span>
                            </li> -->
                            <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-facebook mr-2 icon-inline text-primary">
                                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                        </path>
                                    </svg>Facebook</h6>
                                <span class="text-secondary"><a href="{{profile.facebook}}">Facebook</a></span>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="cardprofile mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.name}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.email}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.mobile}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.location}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <!-- <div class="col-sm-12">
                                        <a class="btn btn-info " target="__blank"
                                            href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="cardprofile mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Uiversity</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.university}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Course</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.discipline}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">High School</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{profile.high_school}}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END ABOUT ME -->

    <!-- Services -->
    <div class="text-center">
        <h3 class="display-6 font-weight-bolder">SERVICES</h3>
    </div>
    <div class="container" id="services">
        <div class="row gutters-sm">
            <div class="col-sm-12 mb-3">
                <div class="cardprofile h-100">
                    <div class="card-body">
                        <!-- <h6 class="d-flex align-items-center mb-3"><i
                                    class="material-icons text-info mr-2"></i>Services
                            </h6> -->
                        {% for service in services %}
                        <small>{{service.name}}</small>
                        <div class="progress mb-3" style="height: 5px">
                            <div id="serv{{service.id}}" class="progress-bar bg-primary" role="progressbar"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <script>
                            document.getElementById('serv{{service.id}}').style.width = '{{service.level}}'
                            document.getElementById('serv{{service.id}}').ariaValueNow = '{{service.level}}'
                        </script>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END Services -->


    <!-- TECHNOLOGIES -->
    <div class="container" style="padding: 0.5em;">
        <div class="text-center">
            <h3 class="display-6 font-weight-bolder">TECHNOLOGIES</h3>
        </div>
        <div class="card-columns" id="technologies">

            {%for tech in technologies%}
            <div class="card">
                <!-- <img src="{{tech.file}}" class="card-img-top" alt="..."> -->
                <div>{{tech.file|safe}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{tech.name}}</h5>
                    <p class="card-text">{{tech.description}}</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" id="{{tech.id}}" aria-valuemin="0" aria-valuemax="100">
                        {{tech.level}}</div>
                </div>
                <script>
                    document.getElementById('{{tech.id}}').style.width = '{{tech.level}}'
                    document.getElementById('{{tech.id}}').ariaValueNow = '{{tech.level}}'
                </script>
            </div>
            {%endfor%}
        </div>
    </div>
    <!-- END TECHNOLOGIES -->

    <!-- PROJECTS -->
    <div class="container">
        <div class="text-center">
            <h3 class="display-6 font-weight-bolder">RECENT PROJECTS</h3>
        </div>
        <div id="projects" class="container mx-auto mt-4" style="align-content: center;">
            <div class="row">
                {% for project in projects %}
                <div class="col-md-4">
                    <div class="cardprojects" style="width: 18rem;">
                        <img src="https://img.icons8.com/?size=100&id=106562&format=png&color=000000"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{project.name}}</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text">{{project.description}}</p>
                            {% if project.website_link %}
                            <a href="{{project.website_link}}" class="btnprojects mr-2"><i class="fas fa-link"></i>
                                Visit Site</a>
                            {%else%}
                            {%endif%}
                            <a href="{{project.project_link}}" class="btnprojects "><i class="fab fa-github"></i>
                                Github</a>

                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
    <!-- ENDPROJECTS -->
    <!-- Client Review -->
    <div class="text-center">
        <h3 class="display-6 font-weight-bolder">CLIENT REVIEWS</h3>
    </div>
    <div class="container mt-5 d-flex justify-content-center ">
        <div class="row">
            {% for client in clients %}
            <div class="col-md-4">
                <div class="maincard p-3">
                    <div class="thecard">
                        <div class="thefront text-center py-4">
                            {% if client.file %}
                            <img src="{{client.file.url}}" class="rounded-circle mt-5" width="100">
                            {%else%}
                            <img src="" class="rounded-circle mt-5" width="100">
                            {%endif%}
                            <h3 class="mt-2 mb-0">{{client.name}}</h3> <small class="user_name">{{client.role}}</small>
                        </div>
                        <div class="theback py-3 px-3">
                            <div class="quote mt-3">
                                <h4><i class="fa fa-quote-left"></i></h4>
                                <p class="about text-justify">{{client.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <!-- End Client Review -->
    <footer class="bg-body-tertiary text-center bg-primary">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <!-- <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
                    href="#!" role="button"><i class="fab fa-facebook-f"></i></a> -->

                <!-- Twitter -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee;"
                    href="{{profile.twitter}}" role="button"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <!-- <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"
                    href="#!" role="button"><i class="fab fa-google"></i></a> -->

                <!-- Instagram -->
                <!-- <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
                    href="#!" role="button"><i class="fab fa-instagram"></i></a> -->

                <!-- Linkedin -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
                    href="https://www.linkedin.com/in/lesley-nweke-8787b3101/" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;"
                    href="{{profile.github}}" role="button"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            LEO SERVICES
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Scripts -->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>

</html>